* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #3D087B;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.box {
    width: 50%;
    height: 100vh;
    position: relative;
}

.leftBox {
    margin-left: 7%;
    width: 100%;
    height: auto;
    position: absolute;
}

.boxT {
    width: 50%;
    height: 100vh;
    position: relative;
}

.logo {
    top: 34px;
    left: 124px;
    width: 204px;
    height: 77px;
    background: transparent url('./img/clock_logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.timeline {
    top: 149px;
    left: 124px;
    width: 566px;
    height: 363px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
}

.timebox {
    top: 30px;
    left: 30px;
    width: 517px;
    height: 335px;
    opacity: 1;
    position: absolute;
}

.wake {
    top: 163px;
    left: 149px;
    width: 517px;
    height: 45px;
    opacity: 1;
    display: flex;
    flex-direction: row;
}

.timg {
    top: 169px;
    left: 149px;
    width: 34px;
    height: 34px;
    background: transparent url('./img/wake_up.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.wake p {
    top: 174px;
    margin-left: 20px;
    width: 141px;
    height: 23px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal normal 18px/28px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
}

.fromat {
    margin-left: 21px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.stop{
    margin-left: 3.7%;
}

select::-ms-expand {
    display: none;
}

select {
    outline: none;
}

:root {
    --select-border: rgb(214, 207, 207);
    --select-focus: blue;
    --select-arrow: var(--select-color);
    --select-color:#9140B5;
}

.select {
    margin-top: -5px;
    width: 281px;
    height: 45px;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    color: #62D118 !important;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.standard-select{
    color: #9140B5 !important;
}

.select::after {
    content: "";
    width: 0.7em;
    height: 0.4em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select {
    display: grid;
}

.select {
    grid-template-areas: "select";
}

select, .select:after {
    grid-area: select;
}

.select {
align-items: center;
}

.select:after {
justify-self: end;
}


hr {
    top: 218px;
    margin-left: 3.5%;
    margin-bottom: 1%;
    width: 0px;
    height: 33px;
    border: 0.5px solid #C2C2C2;
    background-color: #C2C2C2;
    opacity: 1;
}

.dinner {
    top: 266px;
    left: 149px;
    width: 34px;
    height: 34px;
    background: transparent url('img/lunch_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.ltop p {
    top: 271px;
    left: 204px;
    width: 119px;
    height: 23px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal normal 18px/28px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
}

.nap {
    top: 362px;
    left: 149px;
    width: 34px;
    height: 34px;
    background: transparent url('./img/nap_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.night {
    top: 459px;
    left: 149px;
    width: 34px;
    height: 34px;
    background: transparent url('img/nap_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.msg {
    top: 527px;
    left: 124px;
    width: 566px;
    height: 77px;
    border: 1px solid #8A11BF;
    background: #8A11BF;
    border: 1px solid #8A11BF;
    border-radius: 10px;
    position: absolute;
}

.msg p {
    top: 25px;
    left: 20px;
    width: 381px;
    height: 34px;
    text-align: center;
    font-weight:bolder;
    font-size:  24px; 
    letter-spacing: 0px;
    color: white;
    text-transform: uppercase;
    position: absolute;
}

.alarm {
    top: 624px;
    left: 124px;
    width: 299px;
    height: 50px;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    position: absolute;
}

.alarm p {
    top: 4px;
    left: 95px;
    width: 111px;
    height: 31px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 24px/38px Manrope;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.alarm:hover {
    background: linear-gradient(to right, #F1A7C5 0%, #FC5EFF 40%, #CB52F8 81%, #6E54EC 100%);
}

.napTimings {
    top: 615px;
    left: 437px;
    width: 253px;
    height: 117px;
    border: 1px solid #8A11BF;
    background: #8A11BF;
    border: 1px solid #8A11BF;
    border-radius: 10px;
    position: absolute;
}

.napTimings p {
    top: 10px;
    left: 20px;
    width: 200px;
    height: 94px;
    text-align: left;
    font: normal normal bold 15px/25px Manrope;
    letter-spacing: 0px;
    color: #FC5EFF;
    position: absolute;
}

.napTwo{
    margin-top: 25px;
}
.napThree{
    margin-top: 50px;
}
.napFour{
    margin-top: 75px;
}

.lapdiv {
    margin-top: 7%;
    margin-left: 0%;
}

.time {
    width: 536px;
    height: 130px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
}

.sepc {
    margin-top: 2%;
    margin-left: 5%;
    width: 458px;
    height: 90px;
    opacity: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
    z-index: 9;
}

.word p {
    top: 94px;
    left: 745px;
    width: 46px;
    height: 26px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 20px/32px var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    text-transform: uppercase;
    opacity: 1;
}

.hrs {
    top: 62px;
    left: 823px;
    width: 80px;
    height: 90px;
    background: transparent url('./img/timeline.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 5%;
    margin-top: 2.5%;
}

.digit {
    top: 67px;
    margin: auto;
    margin-top: 10%;
    width: 33px;
    height: 43px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-8a11bf);
    text-align: left;
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #8A11BF;
    opacity: 1;
}

.hrrr {
    top: 111px;
    margin-left: 20%;
    width: 56px;
    height: 28px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-23)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5f0089);
    text-align: left;
    font: normal normal normal 23px/28px Barlow;
    letter-spacing: 0px;
    color: #5F0089;
    opacity: 1;
}

.colon {
    margin-top: -25px;
    margin-left: -5px;
    width: 4px;
    height: 22px;
    background: var(--unnamed-color-8a11bf) 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 40px;
    color: #8A11BF;
}

.min {
    top: 62px;
    left: 922px;
    width: 82px;
    height: 90px;
    background: var(--unnamed-color-f6e2ff) 0% 0% no-repeat padding-box;
    background: #F6E2FF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    margin-top: 2.5%;
}

.mindigit {
    top: 68px;
    margin: auto;
    margin-top: 10%;
    width: 41px;
    height: 43px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-8a11bf);
    text-align: left;
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #8A11BF;
    opacity: 1;
}

.minhr {
    top: 110px;
    margin-left: 30%;
    width: 46px;
    height: 26px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 22px/26px var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5f0089);
    text-align: left;
    font: normal normal normal 22px/26px Barlow;
    letter-spacing: 0px;
    color: #5F0089;
    opacity: 1;
}

.colons {
    margin-top: -25px;
    margin-left: -5px;
    width: 4px;
    height: 22px;
    background: var(--unnamed-color-8a11bf) 0% 0% no-repeat padding-box;
    font-size: 40px;
    color: #8A11BF;
    opacity: 1;
}

.sec {
    top: 62px;
    left: 1019px;
    width: 82px;
    height: 90px;
    background: var(--unnamed-color-f6e2ff) 0% 0% no-repeat padding-box;
    background: #F6E2FF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    margin-top: 2.5%;
}

.secdigit {
    top: 68px;
    margin: auto;
    margin-top: 10%;
    width: 32px;
    height: 43px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-8a11bf);
    text-align: left;
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #8A11BF;
    opacity: 1;
}

.sechr {
    top: 111px;
    margin-left: 35%;
    width: 44px;
    height: 26px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 22px/26px var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5f0089);
    text-align: left;
    font: normal normal normal 22px/26px Barlow;
    letter-spacing: 0px;
    color: #5F0089;
    opacity: 1;
}

.zone {
    top: 62px;
    left: 1121px;
    width: 82px;
    height: 90px;
    background: transparent url('./img/AM_svg.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 2.5%;
}

.zone p {
    top: 86px;
    margin-left: 15%;
    margin-top: 25%;
    width: 48px;
    height: 43px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.mbtime {
    margin-top: -120px;
    margin-left: 60px;
    width: 416px;
    height: 130px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.7;
    z-index: 0;
}

.dtime {
    margin-top: -120px;
    margin-left: 80px;
    width: 379px;
    height: 130px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
}

.status {
    top: 232px;
    left: 0px;
    width: 536px;
    height: 118px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
}

.status p {
    top: 0px;
    left: 30px;
    width: 492px;
    height: 38px;
    font: normal normal 900 25px/40px Bauhaus Hv BT;
    letter-spacing: 0px;
    color: #8E53F0;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}

.picture {
    top: 375px;
    left: 0px;
    width: 536px;
    height: 341px;
    background: transparent url('./img/Component.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}


.confetti-button:before, .confetti-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  .confetti-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  
  .confetti-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  
  .confetti-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  .confetti-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  
  .confetti-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
   @keyframes topBubbles {  
    0% {background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;}
    50% {background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
   100% {background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
         background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;}
  }

  @keyframes bottomBubbles {  
    0% {background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;}
   50% {background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
   100% {background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
         background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;}
  }